<!DOCTYPE html>
<html lang="en" ng-app="st-mark">
	<head>
		
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name='theme-color' content='#2196F3'>
	
	<link rel='manifest' href='manifest.json'>
	<meta name='description' content='A boilerplate with all the Google goodness.'>

	<title> St Mark </title>

	<link rel="stylesheet" href="dist/css/vendor.min.css" />
	<link rel="stylesheet" href="dist/css/style.min.css" />
	<script src="dist/js/vendor.min.js"></script>

	</head>
	<body ng-controller="LandingController as vm" ng-cloak>
		
		<section layout="row" flex>
			<md-sidenav
					class="md-sidenav-left"
					md-component-id="left"
					md-is-locked-open="$mdMedia('gt-md')"
					md-disable-backdrop
					md-whiteframe="4">
				<md-toolbar class="md-theme-indigo">
					<h1 class="md-toolbar-tools">  {{ vm.brand }} </h1>             
				</md-toolbar>
				<md-content>
					<md-list>
						<md-list-item ng-click="vm.navigateTo('index'); vm.close();">
							<md-icon md-svg-icon="imgs/icons/announcements.svg"></md-icon>
							<p> Announcements </p>
						</md-list-item>
						<md-divider></md-divider>
						<md-subheader class="md-no-sticky"> Admin </md-subheader>
						<md-list-item ng-click="vm.navigateTo('guests-list'); vm.close();">
							<md-icon md-svg-icon="imgs/icons/people.svg"></md-icon>
							<p> Guests </p>
						</md-list-item>
						<md-list-item ng-click="vm.logout(); vm.close();">
							<md-icon md-svg-icon="imgs/icons/logout.svg"></md-icon>
							<p> Logout </p>
						</md-list-item>
					</md-list> <!-- side menu list -->
				</md-content>
			</md-sidenav>
			<md-content flex>
				<md-toolbar id="toolbar" class="md-hue-2" md-whiteframe="2">
					<div class="md-toolbar-tools">
						<md-button class="md-icon-button" aria-label="Settings"
							ng-click="vm.toggleLeft()">
							<md-icon md-svg-icon="imgs/icons/menu.svg"></md-icon>
						</md-button>
						<h2>
							<span> {{ vm.title }} </span>
						</h2>
						<div flex></div>
						<md-button class="md-icon-button" aria-label="Account"
							ng-click="vm.navigateTo('login')">
							<md-icon md-svg-icon="imgs/icons/account.svg"></md-icon>
						</md-button>
					</div>
				</md-toolbar>
				
				<!-- views -->
				<div id="views" layout-padding ng-view></div> 
			
			</md-content>
		</section>

		<script src="dist/js/app.min.js"></script>
		
		<script>
			  
			// Initialize Firebase
			var config = {
				apiKey: "AIzaSyDwXqWhArusbxvQKfDI6zfKQWSpikM3jic",
				authDomain: "ng1-googlicious-boil.firebaseapp.com",
				databaseURL: "https://ng1-googlicious-boil.firebaseio.com",
				storageBucket: "ng1-googlicious-boil.appspot.com",
			};
			firebase.initializeApp(config);

			// if('serviceWorker' in navigator) {
			// 	navigator.serviceWorker.register('./sw.js', { scope: '/' })
			// 		.then(function(registration) {
			// 				console.log('Service Worker Registered');
			// 		});
					
			// 		navigator.serviceWorker.ready.then(function(registration) {
			// 			console.log('Service Worker Ready');
			// 		});
			// }
			
		</script>
		
	</body>
</html>