<!DOCTYPE html>
<html lang="en" ng-app="st-mark">
	<head>
		
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name='theme-color' content='#2196F3'>
	
	<link rel='manifest' href='manifest.json'>
	<meta name='description' content='A boilerplate with all the Google goodness.'>

	<title> St Mark Events - Troy, MI</title>

	<link rel="stylesheet" href="dist/css/vendor.min.css" />
	<link rel="stylesheet" href="dist/css/style.min.css" />
	<script src="dist/js/vendor.min.js"></script>

	</head>
	<body ng-controller="LandingController as vm" ng-cloak>
		
		<section layout="row" style="height:100vh;">
			<md-sidenav
					class="md-sidenav-left"
					md-component-id="left"
					md-is-locked-open="$mdMedia('gt-md')"
					md-disable-backdrop
					md-whiteframe="4">
				<md-toolbar class="md-theme-indigo">
					<h1 class="md-toolbar-tools">  {{ vm.brand }} </h1>             
				</md-toolbar>
				<md-content>
					<md-list>
						<md-list-item ng-click="vm.navigateTo('index'); vm.close();">
							<md-icon md-svg-icon="imgs/icons/announcements.svg"></md-icon>
							<p>Schedule & Announcements </p>
						</md-list-item><md-list-item ng-click="vm.notes(); vm.close();">
                                                        <md-icon md-svg-icon="imgs/icons/people.svg"></md-icon>
                                                        <p> Register </p>
                                                </md-list-item>
						<md-list-item class="md-list-item" href="http://stmarkmi.org/index.php/connect/Donate" target="_blank">
							<md-icon md-svg-icon="imgs/icons/donate.svg"></md-icon>
							<p> Donate </p>
						</md-list-item>
                                                <md-list-item ng-if="!$root.user" ng-click="vm.navigateTo('login'); vm.close();">
                                                        <md-icon md-svg-icon="imgs/icons/account.svg"></md-icon>
                                                        <p> Login </p>
                                                </md-list-item>
						<md-divider></md-divider>
						<div ng-if="$root.user">
							<md-subheader class="md-no-sticky"> Admin </md-subheader>
							<md-list-item 
								ng-click="vm.navigateTo('guests-list'); vm.close();">
								<md-icon md-svg-icon="imgs/icons/people.svg"></md-icon>
								<p> Guests </p>
							</md-list-item>
							<md-list-item 
								ng-click="vm.logout(); vm.close();">
								<md-icon md-svg-icon="imgs/icons/logout.svg"></md-icon>
								<p> Logout </p>
							</md-list-item>
						</div>
					</md-list> <!-- side menu list -->
				</md-content>
			</md-sidenav>
			<md-content flex>
				<md-toolbar id="toolbar" class="md-hue-2" md-whiteframe="2">
					<div class="md-toolbar-tools">
						<md-button hide-lg class="md-icon-button" aria-label="Settings"
							ng-click="vm.toggleLeft()">
							<md-icon md-svg-icon="imgs/icons/menu.svg"></md-icon>
						</md-button>
						{{vm.title}}
						<span flex></span>
					</div>
				</md-toolbar>
				
				<!-- views -->
				<div id="views" ng-view style="height:100vh;"></div> 
			
			</md-content>
		</section>

		<script src="dist/js/app.min.js"></script>
		
		<script>
			  
			// Initialize Firebase
			var config = {
				apiKey: "AIzaSyDAg9FQTiAhJSOdQJzxavB5hPtJ5nZM2fU",
				authDomain: "stmark-a7bc2.firebaseapp.com",
				databaseURL: "https://stmark-a7bc2.firebaseio.com",
				storageBucket: "",
			};
			firebase.initializeApp(config);

			// if('serviceWorker' in navigator) {
			// 	navigator.serviceWorker.register('./sw.js', { scope: '/' })
			// 		.then(function(registration) {
			// 				console.log('Service Worker Registered');
			// 		});
					
			// 		navigator.serviceWorker.ready.then(function(registration) {
			// 			console.log('Service Worker Ready');
			// 		});
			// }
			
		</script>
		
	</body>
</html>
