// app styles
@import "components/landing";
@import "components/announcements/announcements";
@import "components/guests-list/guests-list";
@import "components/event-form/event-form";

#toolbar {
    background-color: #f6f6f6 !important;
    color: black;
}

#views {
    background-color: #f5f8fa;
}

.md-sidenav-left {
    z-index: 200;
    position: fixed;
    overflow: hidden;
}

.md-list-item a {
    margin: 0px;
}

#dialogContent_dialog {
    //z-index: 1000;
}