<div id="component" layout-padding>
    <md-card>
         <md-card-header>
            <md-card-header-text>
                <span class="md-title"> Fr. Daoud Lamei Spiritual Retreat </span>
                <span class="md-subhead"> St. Mark Coptic Orthodox Church, Troy, MI </span>
            </md-card-header-text>
        </md-card-header>
        <img src="imgs/photos/fr-daoud-lamei.jpg" alt="Fr.Daoud Lamei" />
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline"> Thurs, September 1 – Friday, September 2, 2016 </span>
            </md-card-title-text>
        </md-card-title>
        
        <md-card-actions layout="row" layout-align="end center">
            <md-button class="md-primary" 
                ng-click="vm.notes()"> Register </md-button>
        </md-card-actions>
        
        <md-card-content>
            <h4> Thursday, September 1st </h4>
            <p> 7:30 pm - Raising of Incense & Lecture 1 </p>

            <br/>
            <h4> Friday, September 2nd </h4>
            <p> 8:00 am - Holy Liturgy </p>
            <p> 10:00 am to 5:30 pm - Retreat </p>
            <p> 12:30-1:30 pm - Lunch Break </p>

        </md-card-content>
        <nested-component></nested-component>
    </md-card>
</div>