<div layout-padding id="popupContainer">
    <md-toolbar class="md-primary">
        <div class="md-toolbar-tools">
            <h2 class="md-flex"> Register </h2>
        </div>
    </md-toolbar>
    <md-content flex>
        <form name="guestForm" ng-submit="vm.submitGuestForm($event, vm.guest)">
            <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm>
                    <label>First name</label>
                    <input type="text" name="firstName" ng-model="vm.guest.firstName" required>
                    <div class="errors" ng-messages="guestForm.firstName.$error">
                        <div ng-message="required">First name is required</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Last name</label>
                    <input type="text" name="lastName" ng-model="vm.guest.lastName" required>
                    <div class="errors" ng-messages="guestForm.lastName.$error">
                        <div ng-message="required">Last name is required</div>
                    </div>
                </md-input-container>
            </div>
            <div layout="column">
                <md-input-container class="md-block" flex-gt-sm>
                    <label> Email </label>
                    <input type="email" name="email" ng-model="vm.guest.email" required>
                    <div class="errors" ng-messages="guestForm.email.$error">
                        <div ng-message="required">Email is required</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label> Phone number </label>
                    <input type="number" name="phoneNumber" ng-model="vm.guest.phoneNumber" required>
                    <div class="errors" ng-messages="guestForm.phoneNumber.$error">
                        <div ng-message="required">Phone number is required</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label> Address </label>
                    <input type="text" name="address" ng-model="vm.guest.address" required>
                    <div class="errors" ng-messages="guestForm.address.$error">
                        <div ng-message="required">Address is required</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label> Home Church </label>
                    <input type="text" name="homeChurch" ng-model="vm.guest.homeChurch" ng-required="true">
                    <div class="errors" ng-messages="guestForm.homeChurch.$error">
                        <div ng-message="required">Home church is required</div>
                    </div>
                </md-input-container>
                
                <div layout="row">
                    <md-button flex="100" type="submit" class="md-raised md-primary"
                        ng-disabled="guestForm.$invalid"> Submit </md-button>
                </div>

            </div>
        </form>
    </md-content>
</div>
