<div id="login" layout-padding>
    <md-toolbar class="md-primary">
        <div class="md-toolbar-tools">
            <h2 class="md-flex"> Login </h2>
        </div>
    </md-toolbar>
    <md-content layout-padding flex>
        <form name="loginForm" ng-submit="vm.login(vm.user)">
            <div layout="column">
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Username</label>
                    <input name="email" ng-model="vm.user.email" required>
                    <div class="errors" ng-messages="loginForm.email.$error">
                        <div ng-message="required">Username is required</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Password</label>
                    <input name="password" type="password" ng-model="vm.user.password" required>
                    <div class="errors" ng-messages="loginForm.password.$error">
                        <div ng-message="required">Password is required</div>
                    </div>
                </md-input-container>
            </div>
            <div layout="row" layout-align="center" >
                <md-button type="submit" flex="100" class="md-raised md-primary"
                    ng-disabled="loginForm.$invalid"> Log in </md-button>
            </div>
        </form>
    </md-content>
</div>