<md-dialog id="dialog" aria-label="Guest information"  ng-cloak>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2> {{ selectedGuest.firstName }} {{ selectedGuest.lastName }} </h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="imgs/icons/close.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content layout-padding>
      
            <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm>
                    <label>First name</label>
                    <input type="text" name="firstName" ng-model="selectedGuest.firstName"
                        >
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Last name</label>
                    <input type="text" name="lastName" ng-model="selectedGuest.lastName"
                        >
                </md-input-container>
            </div>
            <div layout="column">
                <md-input-container class="md-block" flex-gt-sm>
                    <label> Email </label>
                    <input type="email" name="email" ng-model="selectedGuest.email"
                        >
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label> Phone number </label>
                    <input type="number" name="phoneNumber" ng-model="selectedGuest.phoneNumber"
                        >
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label> Address </label>
                    <input type="text" name="address" ng-model="selectedGuest.address"
                        >
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label> Home Church </label>
                    <input type="text" name="homeChurch" ng-model="selectedGuest.homeChurch"
                        >
                </md-input-container>
            </div>


    </md-dialog-content>
    <md-dialog-actions layout="row">
        <md-button flex class="md-raised md-primary"
            ng-if="!selectedGuest.checkedIn"
            ng-click="checkIn()"> 
            Check in 
        </md-button>
        <md-button flex class="md-raised md-primary"
            ng-if="selectedGuest.checkedIn"
            ng-click="unCheckIn()"> 
            Uncheck in 
        </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
